$color-primario-1: #383838;
$color-primario-2: #666666;
$color-primario-3: #999999;
$color-primario-4: #727272;

$color-rojo: #d6322b;
$color-azul: #1c415b;
$color-blanco: white;

$color-alerta-1: #d6322b;
$color-alerta-2: #ff8000;
$color-alerta-3: #27cc37;

$color-texto: black;
$color-texto-destacado: grey;
