<footer class="global-footer">
	<ul class="site-map">
		<li class="site-map-item"><a href="">Link 1</a></li>
		<li class="site-map-item"><a href="">Link 1</a></li>
		<li class="site-map-item"><a href="">Link 1</a></li>
		<li class="site-map-item"><a href="">Link 1</a></li>
	</ul>
	<aside class="copyright-container">Copyright 2017</aside>
</footer>
