/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
* {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: black;
  list-style-type: none;
  border: 0px;
}

/* line 7, ../sass/common/_home.scss */
section {
  padding: 20px 16px;
}

/* line 11, ../sass/common/_home.scss */
h3 {
  font-size: 1.5em;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  margin-bottom: 10px;
}

/* line 17, ../sass/common/_home.scss */
.news-list {
  width: 100%;
}

/* line 21, ../sass/common/_home.scss */
.item {
  width: 100%;
  background: grey;
  -moz-box-shadow: grey 2px 2px 5px;
  -webkit-box-shadow: grey 2px 2px 5px;
  box-shadow: grey 2px 2px 5px;
  padding: 20px;
  margin-bottom: 20px;
}
/* line 28, ../sass/common/_home.scss */
.item .item-image {
  width: 100%;
  height: 15em;
  background: white;
}
/* line 34, ../sass/common/_home.scss */
.item .item-information {
  margin-top: 10px;
  color: white;
}
/* line 38, ../sass/common/_home.scss */
.item .item-information h2 {
  font-size: 1.5em;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: white;
  margin-bottom: 20px;
}
/* line 46, ../sass/common/_home.scss */
.item .informacion-genero, .item .informacion-clasificacion {
  width: 50%;
  text-align: left;
  display: inline-block;
  float: left;
  color: white;
}
/* line 54, ../sass/common/_home.scss */
.item .informacion-clasificacion {
  text-align: right;
  float: none;
}
/* line 60, ../sass/common/_home.scss */
.item .button-reserve-online {
  color: white;
  margin-top: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: block;
  text-align: center;
  background: #d6322b;
  padding: 10px 5px;
  text-decoration: none;
  text-transform: uppercase;
  -moz-box-shadow: #1c415b 2px 2px 5px;
  -webkit-box-shadow: #1c415b 2px 2px 5px;
  box-shadow: #1c415b 2px 2px 5px;
}

@media (min-width: 900px) {
  /* line 75, ../sass/common/_home.scss */
  section {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  /* line 81, ../sass/common/_home.scss */
  .news-list {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }

  /* line 88, ../sass/common/_home.scss */
  .item {
    width: 23%;
    max-width: 23%;
  }
}
/* line 7, ../sass/common/_header.scss */
button {
  background: none;
  border: 0px;
}

/* line 12, ../sass/common/_header.scss */
.user {
  padding: 20px 10px;
  display: -webkit-flex;
  display: flex;
}

/* line 17, ../sass/common/_header.scss */
.log-in,
.loged-in {
  width: 50%;
  display: inline-block;
}

/* line 23, ../sass/common/_header.scss */
.loged-in {
  border-right: solid 1px black;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-right: 20px;
}

/* line 30, ../sass/common/_header.scss */
.log-in {
  text-align: center;
}

/* line 34, ../sass/common/_header.scss */
header {
  background: #d6322b;
  padding: 1.5em;
  width: 100%;
  -moz-box-shadow: grey 2px 2px 5px;
  -webkit-box-shadow: grey 2px 2px 5px;
  box-shadow: grey 2px 2px 5px;
}

/* line 41, ../sass/common/_header.scss */
.cinema-logo {
  font-size: 2em;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  display: inline-block;
  color: white;
  width: 20%;
  vertical-align: middle;
}

/* line 49, ../sass/common/_header.scss */
.nav-bar {
  display: inline-block;
  width: 78%;
  text-align: right;
  vertical-align: middle;
}

/* line 56, ../sass/common/_header.scss */
.nav-list {
  background: white;
  position: absolute;
  right: 0px;
  height: 100vh;
  top: 0px;
  min-width: 50%;
  z-index: 1;
  display: none;
}
/* line 66, ../sass/common/_header.scss */
.nav-list:after {
  content: '';
  width: 100vw;
  height: 100vh;
  background: black;
  position: fixed;
  opacity: .6;
  display: inline-block;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: -1;
}
/* line 81, ../sass/common/_header.scss */
.nav-list.menu-abierto {
  display: inline-block;
}

/* line 86, ../sass/common/_header.scss */
.nav-item {
  font-size: 1em;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px;
  background-color: grey;
  border-bottom: solid 1px white;
  display: block;
  width: 100%;
}
/* line 98, ../sass/common/_header.scss */
.nav-item:active {
  color: black;
  background: white;
  border-bottom: solid 1px black;
}

/* line 105, ../sass/common/_header.scss */
.menu-icon {
  font-size: 0px;
  position: relative;
  width: 37px;
  height: auto;
  display: inline-block;
}
/* line 112, ../sass/common/_header.scss */
.menu-icon hr {
  display: inline-block;
  height: 2px;
  background: white;
  width: 100%;
  margin: 4px 0px;
  position: relative;
}

/* line 122, ../sass/common/_header.scss */
.button-close {
  position: absolute;
  left: -40px;
  top: 20px;
  font-size: 0px;
}
/* line 128, ../sass/common/_header.scss */
.button-close:before, .button-close:after {
  content: '';
  width: 15px;
  height: 2px;
  display: inline-block;
  background: white;
  position: relative;
}
/* line 138, ../sass/common/_header.scss */
.button-close:before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 15px;
}
/* line 143, ../sass/common/_header.scss */
.button-close:after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (min-width: 900px) {
  /* line 149, ../sass/common/_header.scss */
  .user {
    padding: 20px 10px;
  }

  /* line 153, ../sass/common/_header.scss */
  .menu-icon,
  .button-close {
    display: none;
  }

  /* line 158, ../sass/common/_header.scss */
  .nav-list {
    display: inline-block;
    position: relative;
    background: transparent;
    height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  /* line 167, ../sass/common/_header.scss */
  .nav-list:before, .nav-list:after {
    display: none;
  }

  /* line 173, ../sass/common/_header.scss */
  .nav-item {
    background: transparent;
    padding: 10px 15px;
    border-bottom: 0px;
  }
  /* line 178, ../sass/common/_header.scss */
  .nav-item:hover {
    color: grey;
    text-decoration: underline;
  }
  /* line 183, ../sass/common/_header.scss */
  .nav-item:active {
    background: transparent;
  }
}
/* line 4, ../sass/common/_footer.scss */
footer {
  background: #1c415b;
  padding: 20px 16px;
  display: inline-block;
  width: 100%;
}
